<h1>Report</h1>

<div>
    <p>Score: {{quizResponse.score}}/10</p>
</div>
<div>
    <p>Time: {{quizResponse.time}}s</p>
</div>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Response</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        {{#each quizResponse.questions}}
            <tr>
                <td>{{this.text}}</td>
                <td>{{this.response}}</td>
                <td>{{this.answer}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h3>Enter your name for the leaderboard</h3>
<form method='POST' action='/leaderboard'>
    <div>
        <label for='name'>Name</label>
        <input type='text' name='name' id='name' />
    </div>
    <input type='submit' value='Go to leaderboard' />    
</form>