<h1>Report</h1>

<h2>Score: {{ quizResponse.score }}</h2>

<h2>Time: {{ quizResponse.time }}</h2>

<h2>Questions: {{quizResponse.questions}}</h2>

<h2>Responses: {{quizResponse.responses}}</h2>

<h2>Answers: {{quizResponse.answers}}</h2>